.remove-default-btn {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}